
.form-line__label {
  display: inline-block;
  width: 15em;
  text-align: right;
  padding-right: .5em;
}

.form-line__label::after {
  display: inline-block;
  content: ' ';
}

.form-line--slider__value {
  width: 5em;
  display: inline-block;
  text-align: center;
}

.form-line--slider .form-line__input {
  width: 20em;
}
