.graph__outline {
  rx: 10;
  ry: 10;
  stroke: #454857;
  stroke-width: 3;
  fill: transparent;
  padding: 10px;
}

.graph .node circle {
  fill: #555;
  stroke: #FFF;
  stroke-width: 3;
}

.graph .node circle.outline {
  fill: transparent;
  stroke: #CCC;
  stroke-width: 3;
}

.graph .node__category-label {
  fill: #9E9E9E;
}

.graph .node__pin-indicator {
  stroke: transparent;
  fill: transparent;
}

.graph .node--pinned .node__pin-indicator {
  stroke-width: 1;
  stroke: black;
  fill: darkgrey;
}

.graph .edge {
  fill: #9E9E9E;
}

.graph .edge path {
  stroke-width: 2;
  stroke: #9E9E9E;
}

.graph .edge text {
  text-anchor: middle;
}

.graph .labelAnchor text {
  fill: #555;
  font-family: Arial;
  font-size 12;
}

.graph .labelAnchor circle {
  display: none;
}

.graph .labelLink {
  display: none;
  stroke: #999;
}

#arrowhead path {
  fill: #9E9E9E;
  stroke: #9E9E9E;
}
