.graph {
  border: 3px solid darkgrey;
  border-radius: 10px;
  padding: 10px;
}

.graph .node circle {
  fill: #555;
  stroke: #FFF;
  stroke-width: 3;
}

.graph .node circle.outline {
  fill: transparent;
  stroke: #ccc;
  stroke-width: 3;
}

.graph .edge {
  stroke-width: 2;
  stroke: #CCC;
  fill: #CCC;
}

.graph .labelAnchor text {
  fill: #555;
  font-family: Arial;
  font-size 12;
}

.graph .labelAnchor circle {
  display: none;
}

.graph .labelLink {
  display: none;
  stroke: #999;
}

#arrowhead path {
  fill: #CCC;
  stroke: #CCC;
}
